.inputWithIcon i{
    position: absolute;
    left: 0;
    top:-3px;
    padding: 10px 25px;
    /* align-items: center; */
    color: #aaa;
}
.inputWithIcon input[type=text]{
    padding-left: 40px;
}
.inputWithIcon input[type=text]:focus{
border-color: dodgerblue(180, 173, 173);
box-shadow: 0 0 8px 0 dodgerblue;
}
.inputWithIcon input[type=text]:focus + h3 i{
    color: dodgerblue;
}
.inputWithIcon.inputIconBg h3 i{
    background-color: #aaa;
    color: #fff;
    padding: 9px 5px;
    
    border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type=text]:focus + h3 i{
    color: #fff;
    background-color: dodgerblue;
}



/* for email section */

.inputWithIcon input[type=email]{
    padding-left: 50px;
}
.inputWithIcon input[type=email]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    }
    .inputWithIcon input[type=email]:focus + h3 i{
        color: dodgerblue;
    }
.inputWithIcon.inputIconBg h3 i{
    background-color: #aaa;
    /* color: #fff; */
    padding: 7px 6px;
    border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type=email]:focus + h3 i{
    color: #fff;
    background-color: dodgerblue;
}
.inputWithIcon input{
    border-radius: 20px;
    border-color: dodgerblue;
}
/* Phone Number section */

.inputWithIcon input[type=number]{
    padding-left: 50px;
}
.inputWithIcon input[type=number]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    }
    .inputWithIcon input[type=number]:focus + h3 i{
        color: dodgerblue;
    }
.inputWithIcon.inputIconBg h3 i{
    background-color: #aaa;
    /* color: #fff; */
    padding: 7px 6px;
    border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type=number]:focus + h3 i{
    color: #fff;
    background-color: dodgerblue;
}
.inputWithIcon input{
    border-radius: 20px;
}


.inputWithIcon textarea{
    border-radius: 20px;
      border-color: dodgerblue;
}
.inputWithIcon textarea:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
    }

    .contact_form{
        padding-left: 5%;
        padding-right: 5%;
    }
    .contact_with_us{
        font-size: 50px;
        font-weight: 900px;
    }
/* @media screen (max-width="700px"){
    .contact_form{
        padding: 0%
    
   
    }
} */
.inputWithIcon .placeholder{
    font-size: small;
}