.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.blog_section{
    max-width: 1350px;
}
.sticky_sec{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
@media (max-width: 991px){

.card-horizontal {
    display: none;
    flex: 1 1 auto;
}
}

@media (min-width:1000px){
    .card-img{
        width:420px;
        height:190px;
    }
    /* .cardings{
        padding-left: 3%;
        padding-right: 3%;
    } */
}
@media (min-width:1190px){
    .card-img{
        width:500px;
        height:200px;
        
    }
    
}
.blog_sec_img{
    width:500px;
    height:200px;
}

.cardings{
        padding-left: 3%;
        padding-right: 3%;
    }
/* 100,1170 */