.mobile_footer{
    background-image: url(../../images/footer.png);
}
/* @media (max-width:300px){
    .mobile_footer{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (max-width:400px){
    .mobile_footer{
        padding-left: 15%;
        padding-right: 15%;
    }
} */
/* .horizontal-rule{
    border-top: 3px solid white;
} */
.mobile_footer{
    display: none;
}
@media (max-width:575px){
    .mobile_footer{
        display: block;
    }
}