@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
.navv{
    display: none;
}
nav{
  background:white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  /* height: 70px; */
  padding: 0 100px;
}
nav .logo{
  color: black;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 140px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  /* color: #fff; */
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
/* nav .menu-icon,
nav .cancel-icon, */
nav .search-icon{
  width: 60px;
  text-align: right;
  margin: 0 50px;
  font-size: 18px;
  /* color: #fff; */
  color: black;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 4;
    /* text-align: center; */
    text-align: left;
  }
  nav .nav-items{
    position: fixed;
    z-index: 199;
    top: 50px;
    width: 90%;
    left: -100%;
    height: 100%;
    /* padding: 10px 50px 0 50px; */
    /* padding: 10px 50px 0 50px; */
    padding-left: 10px;
    text-align: left;
    background: white;
    /* background: #14181f; */
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    /* margin: 30px 0; */
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }

  
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 40px;
    /* margin: 0 160px; */
  }
 
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
    color: black;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}


















@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 


/* zindex */
 .nav-items{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 100;
}
 .nav-items li{
  margin: 0 5px;
}
 .nav-items li a{
  /* color: #f2f2f2; */
  color:black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  /* padding: 8px 15px; */
  padding: 1px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  
}
 .nav-items li a.active,
 .nav-items li a:hover{
  /* color: #111;
  background: #fff; */
  
}
 .menu-btn i{
  /* color: #fff; */
  /* color:white; */
  color: black;
  font-size: 25px;
  cursor: pointer;
  display: none;
  padding-top: 12px;
  margin-left: 12%;
  
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  /* {
    padding: 0 40px 0 40px;
  } */
}
@media (max-width: 1000px) {
   .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
   .nav-items{
    position: fixed;
    top: 80px;
    left: -100%;
    background: white;
    /* background: #111; */
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    
    transition: all 0.3s ease;
  }
  #click:checked ~ .nav-items{
    left: 0;
  }
   .nav-items li{
    width: 100%;
    /* margin: 40px 0; */
    
  }
   .nav-items li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ .nav-items li a{
    margin-left: 0px;
  }
   .nav-items li a.active,
   .nav-items li a:hover{
    background: none;
    color: red;
  }
}


@media(min-width:1000px){
    nav{
        display: none;
    }
    .searchs{
      display: none;
    }
}
/* nav{
    display: none;
} */
.searchs{
    position: sticky;
    top: 0;
    z-index:100;
}
/* .searchs .search_box input[type=text]{
  padding-left: 40px;
} */