@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.policies{
    padding-left: 7%;
    padding-right: 7%;
    font-family: Roboto,Arial,sans-serif;
    font-size:x-large;

}
.policy_tag{
    text-align:center;
    font-family: Roboto,Arial,sans-serif;
    font-weight: bolder;
    color:black
}
.instst{
   font-family: Roboto,Arial,sans-serif;
   font-size: 18px;
   font-weight: 400;
}   
.instruction_list{
   font-family: Roboto,Arial,sans-serif;
   font-size: 18px;
   list-style: circle;
   font-weight: 400;
   line-height: 30px;
}

.instruction{
   font-family: Roboto,Arial,sans-serif;
   font-size: 18px;
   font-weight: bold;
}
@media (max-width: 991px){
   .policy_tag{
      font-size: 30px;
   }
   }

   @media (max-width:500px){
      .policy_tag{
         font-size: 18px;
      }
      .instst{
         font-size: 14px;
         line-height: 22px;
      }
      .instruction{
         font-size: 14px;
         line-height: 22px;
      }
      .unorderedlist{
         font-size: 14px;
      }
      .instruction_list{
         font-size: 14px;
         line-height: 22px;
         font-family: Roboto,Arial,sans-serif;    
      }
   }
