.frequently_asked {
  max-width: 1200px;
  padding-top: 2%;
  padding-bottom: 10%;
}

.faq {
  padding-bottom: 3%;
  color: black;
}

.contents {
  font-size: 16px;
}

.faq h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

.faq h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}



.row {

  display: flex;
}


/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
 box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); 
}

.tab-label {
  text-transform:capitalize;
  background-color: #f0eaea;
  padding-top: 2%;
}
@media (max-width:500px){
  .tab-label {
    text-transform:capitalize;
    background-color: #f0eaea;
    font-size: 16px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

  }
 
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
}

.tab-label {
 
  display: flex;

          justify-content: space-between;
  padding: 1.3em;
  font-weight: 450;
  font-size: 18px;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #c4c4c4;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  /* transition: all .35s; */
  transition: all .4s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: black;
  background: white;

  transition: all .35s;
}

.tab-close {
  display: flex;
  
      
  font-size: 0.75em;
  background: #dddddd;
  cursor: pointer;
}

.tab-close:hover {
  background: #c4c4c4;
}

input:checked + .tab-label::after {
    transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
  .faq {
    padding-bottom: 1%;
    text-align: center;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 500;
  }
  .row {
   
    display: flex;
  }
  .row .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .row .col:last-child {
    margin-left: 4em;
    margin-right: 3em;
  }
}