.procedure{
    padding-top: 2%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 2%;
}
.track{
    color: black;
}
.script{
    padding-bottom: 10%;
}
@media (max-width: 991px){
    .procedure{
        padding: 4%;
    }
    .script{
        padding-bottom: 10%;
    }
    }