
/* for width of navbar */
.afternav{
  /* height:auto;
  width: auto; */
  background-color:white;
  color: white;
  padding: 1px;
  padding-right: 20%;
  max-height: 80px;
  
}

.afternavul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.bground:hover{
text-decoration: underline;
color: rgb(194, 9, 9);
}


.dropdown1 .dropbtn {
  font-size: 15px;  
  border: none;
  outline: none;
  color:white;
  padding: 4px 4px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}
 


.dropdown-content1 {
  display: none;
  position:absolute;
  right: -200px;
  background-color:white;
  width:auto;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown1:hover >.dropdown-content1 {
  display: block;
}
.dropbtn:hover >.dropdown-content1{
  display: block;
}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.shopcategory ul li:hover{
          background-color: rgb(212, 84, 24);
          color: white;
          border-radius: 5px;
          padding: 3px;
}



.blink_me 
  {
  color: rgb(223, 28, 28);
  text-shadow: 0 0 8px rgb(255, 0, 0);
  animation: blinker 0.5s;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: red;
    transition: 1s ease-in-out;
  }
}
/* .menu-icon{
  display: none;
}
.col .logo{
  display: none;
} */
/* .padding{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 2px;
} */

/* 
.menu-toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size:25px ;
  cursor: pointer;
  display: none;
} */
@media (max-width: 991px){
  /* .menu-toggle{
    display: block;
  } */
  /* for mobo */
  /* #show-menu{
    display: none;
  } */
  .afternavul .container{
    padding-left: 20%;
    padding-right: 20%;
  }
  .afternavul {
    /* display: none; */
    /* position: fixed; */
    /* width: 100%; */
    padding-right: 20%;
    padding-left: 20%;
    width: 100px;
    height: 700px;
    margin-left: 100px; 
    margin-right: 100px; 
    top:0px;
    background-color: white;
    left:-100%;
    /* 
   */
    /* max-width: 350%; */
    z-index: 10;
  }
  .afternav .row{
    /* max-height: 20%; */
  }

  .afternav li{
    margin: 15px 20px;
  }
  .afternav li a{
    padding: 8px 13px;
    line-height: 40px;
    font-size: 20px;
    padding: 8px 18px;
    /* display:none; */
  }
  /* .afternav .menubar .row */
 .afternav #show-menu:checked ~ .afternavul {
    /* left:-15%; */
  }
  .afternav .menu-icon{
    display: block;
    font-size: 20px;
    }
    .menu-icon{
      display: block;
      font-size: 200px;
   
      }
}
.afternav .menu-icon{
color: white;
font-size: 28px;
/* padding-top:200px; */
/* bottom:300px */
}

/* .afternav .menu-icon{
  display: none;
  } */
  @media (max-width: 991px){
   .apps{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    /* max-width: 100px; */
    /* top:0; */
}
.col .logo{
  display: block;
} 
.col .plus{
  display: block;
}
.shop_cart{
  display: block;
  align-items: left;
} 
.plus{
  align-items: left;
  padding-left:-10px;
}

  }


@media (max-width:999px){
 .afternav{
   display: none;
 }
 .afternavul{
  display: none;
}
.afternav{
  /* height:auto;
  width: auto; */
  background-color:white;
  color: white;
  padding: 1px;
  padding-right: 20%;
  max-height: 80px;
  
}
}
  






  