/* .card-img-top{
    width: 200 !important;
} */
.div{
    /* width: 240;
    height:265; */
}
.product_name{
    
    white-space: normal;
    min-height: 40px;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212529  !important;
    text-decoration: none;
}

@media (max-width: 768px){
.homeproductimg {
    /* width: 40px; */
    /* height: 30px; */
}
.product_names{
    font-size:9px
}
.card-price{
    font-size:9px
}
.star_icons .row{
    
        padding-left: 20px;
    }
    .card-price{
        padding:0px;
    }
.star_icons{
 
    font-size: 10px;
}

}
.pr_img { 
    /* width: 200px;
    height: 200px;
    padding-left: 12%;
    padding-right: 12%; */
}
.star_icons{padding-left:12%;
       padding-bottom:1%;}
/* .card{
    box-shadow:  0 0 5px #333333;
} */