.privacyndpolicy{
    
    padding-left: 7%;
    padding-right: 7%;
   
}
.privacy{
    text-align:center;
    font-family: Roboto,Arial,sans-serif;
    font-weight: bolder;
    color: black;
}
.privacycondi{

}
.personalinfo{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}

.infolike_c{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.infolike2{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.infoprotect{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.cookies{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.thirdparty{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.thirdpartylink{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.google{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.fair{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.spam{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;
}
.con_uss{
    font-weight: bold;
    font-size: 28px;

     font-family: Roboto,Arial,sans-serif;   
}


.privacycondi{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.info{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.infolike1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.infolike{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.infolist{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.infoprotect1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.cookies1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.thirdparty1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.google1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.fair1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.fairlist{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.can_spam{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.spamlist{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.spamlist1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.con_us1{
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
