@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.footer-top{
    background: url("../../images/footer.png");
    /* background-color: black; */
    width:100%;
    height:355;
    /* background-repeat:no-repeat; */
    /* padding: 80px 0; */
}
/* .footer_container{
    padding-left: 55%;
    padding-right: 15%;
} */
.segment-one h4{
    /* font-family: Courgette; */
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
    font-family: Roboto,Arial,sans-serif;
    }
.segment-one h2{
        color: #fff;
        font-family: Roboto,Arial,sans-serif;
        text-transform: uppercase;
  
  }  
/* .segment-one h4:before{
    content:"|";
    color:red;
    padding-right: 10px;
    

}    */
.segment-one ul{
    margin:0;
    padding:0;
    list-style:none;
 }  
 .segment-one ul li{
    /* border-bottom: 1px solid rgb(255,255,255,0.3); */
    line-height:45px;
 } 
 .segment-one ul li a{
    color:white ;
    text-decoration:none;
 } 
 .segment-two h4{
  font-family: Roboto,Arial,sans-serif;
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
    }
.segment-two h2{
      color: #fff;
      font-family: Roboto,Arial,sans-serif;
      text-transform: uppercase;

}    
/* .segment-two h4:before{
    content:"|";
    color:red;
    padding-right: 10px;
    

}   */
.segment-two ul{
   margin:0;
   padding:0;
   list-style:none;
}  

.segment-two ul li{
    /* border-bottom: 1px solid rgb(255,255,255,0.3); */
    line-height:45px;
 } 
 .segment-two ul li a{
    color:#fff;
    text-decoration:none;
 } 
 .segment-three h4{
    font-family: Roboto,Arial,sans-serif;
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
    }
.segment-three a{
    background-color: #494848;
    width:40px;
    height:40px;
    display: inline-block;
    border-radius: 50%;

}
.tracing li{
    color:red
}
.footers ul li{
    color: white;
    text-decoration: none;
}
.segment-two ul li{
    color: white;
    text-decoration: none;
}

/* .segment-three h4:before{
    content:"|";
    color:red;
    padding-right: 10px;

}  */
.segment-four h4{
  font-family: Roboto,Arial,sans-serif;
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
    }
.segment-four h2{
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    text-transform:uppercase;

}
/* .segment-four h4:before{
    content:"|";
    color:red;
    padding-right: 10px;

}  */

.segment-four form input[type=submit]{
    background: #24A0ED;
    text-transform:uppercase;
    color:#fff;
}

/* @media only screen and (min-width: 768px) and (max-width:991px){
    .md-mb-30(
        margin-bottom:30px;
    )
}

@media only screen and (min-width: 767px) {
    .sm-mb-30(
        margin-bottom:30px;
    )
} */

.footer-top{
    padding: 20px 0;;
} 
