.accessories-grid{
    font-family: "lato",sans-serif;
    /* text-align: center; */
    background-color: #fff;
}
.accessories-grid .accessories-image{
      position: relative;
      overflow: hidden;
      transition: 0.5s all;
}
.accessories-grid .accessories-image .access-image{
    display: block;
}
.accessories-grid .accessories-image img{
    width: 100%;
    height: auto;
}
.accessories-image .acc_pic2{
    
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.5s all;
}
.accessories-grid:hover .accessories-image .acc_pic1{
    opacity: 0;
    transition: 0.5s all;
}
.accessories-grid:hover .accessories-image .acc_pic1{
    opacity: 1;
}
.accessories-grid:hover .accessories-image .acc_pic2{
    opacity: 1;
}
.cash_btn {
    height: 40px;
    width: 100px;
   
    
    text-align: center;
   
    color: #43454b;
    font-size: 12px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: 600;
    /* border: 0.5px solid #4b4a4a; */
}
.cash_btn{
    
    justify-content: space-around;
    /* display: flex; */
}
/* .social_links */
.accessories-grid .social_links{
    font-size: 12px;
padding: 40px;
margin: 0;
list-style-type: none;
position: absolute;
bottom:85px;
right: 0;
}
.accessories-grid .social_links li{
    margin: 0 0 10px;
    transform: translateX(100px);
    transition: 0.5s all;
}
.accessories-grid:hover .social_links li{
    transform: translateX(0);
}
.accessories-grid .social_links li a{
    color: black;
    background-color: #fff;
    box-shadow: 1px 0.5px black;

    /* color: white;
    background-color: black; */
    border-radius: 50px;
    /* align-items: center; */
    font-size: 16px;
    line-height: 30px;
    height: 35px;
    width: 35px;
    display: block;
    transition: 0.5s all;
}

.accessories-grid .social_links li a:hover{
    color: white;
    background-color: #03aae8;
    
}
.protein_nameing{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.acces_container{
    /* padding-left: 5%;
    padding-right: 5%; */
}
/* badge */
/* .badge {
  background-color: white;
  color: black;
  padding-top: 20px;
  font: 200px;
  position: absolute;
} */