.demo{
    width: 80%;
    position: relative;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.productsection{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.alg{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 4px; 
}
.alg li{
    margin-top: 2px;
}
p{
    margin: 0px;
    padding: 0px;
}


.mrp{
    font-size: 20px;
    margin-top: 2px;
}
.value input{
    width: 3rem;
    margin-left: 3px;
    text-align: center;
}

.value{
position: relative;
top:30px

}


.circleinput{
      border-radius: 15px;
      border: none;
      background-color: rgb(197, 248, 197);
}

.maketwopart{
    display: flex;
    flex-direction: row;
}

.pricedetails{
    width: auto;
    height: 250px;
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
.table{
    border-radius: 5px;

}




.remove:hover{
  color: red;
  cursor: pointer;
}