.allproduct{
    border-radius: 3px;
    margin-top: 5px;
    padding: 1px;
    color: black;
    background-color:white;
    box-sizing: border-box;
    width: 20%;
    /* display: none; */
   
}
.allproductpage {
    max-width: 1200px;
}
.product_card-img-top{
    width:'250px';
    height:'300px';
}
@media (max-width: 938px){
    .product_card-img-top{
        width:'150px';
        height:'150px';
    }
    .allproductpage{
        align-items: center;
    }
}

/* for media screen  */
@media (max-width: 938px){
    .allproduct{
        display:none;
    }
}
.allproduct ul li{
    background-color:white;
    margin-top: 2px;
    color:black;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    
}

.allproduct ul li ul li:hover{
    background-color: cornflowerblue;
    color: white
}

.allproductpage {
    background-color:#FFFAFA;
    width: 77%;
    
}

.ProductName{
     font-weight: 1000;
}

.ProductName:hover{
    color: blue
}

.subfilter{
    font-size: 13px;
}

.Pricetransition{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
}



/*this is for making new section don't try to delete it.*/

.outerdiv{
    display: flex;
    flex-direction: row;

}



.inner{
    background-color: green;
    color: white;
    position: -webkit-sticky;
    width: 20%;
    max-height: 300px;
}

.inner ul li ul li:hover{
    background-color: cadetblue;
    color: black;
    cursor: pointer;
}

.inner2{
    background-color:blue;
    width: 77%;
    height: 1000px;
    margin-left: 2px;
}

@media (max-width:572px){
    .card-titlle{
        font-size: 14px;
        /* text-align: center; */
    }
    .allproductpage {
        background-color: #FFFAFA;
        width: 100%;
    }
    .card-bodies {
        flex: 1 1 auto;
        min-height: 1px;
        padding-left: 35%;
      
        padding-right: 10%;
    }

}

@media (max-width:572px){
    .card-titlle{
        font-size: 14px;
        /* text-align: center; */
    }
    .allproductpage {
        background-color: #FFFAFA;
        width: 100%;
    }
    .card-bodies {
        flex: 1 1 auto;
        min-height: 1px;
        padding-left: 35%;
      
        padding-right: 10%;
    }

}


@media (max-width:572px){
    .card-titlle{
        font-size: 14px;
        /* text-align: center; */
    }
    .allproductpage {
        background-color: #FFFAFA;
        width: 100%;
    }
    .card-bodies {
        flex: 1 1 auto;
        min-height: 1px;
        padding-left: 35%;
      
        padding-right: 10%;
    }

}
@media (max-width:415px){
    .card-titlle{
        font-size: 14px;
        /* text-align: center; */
    }
    .allproductpage {
        background-color: #FFFAFA;
        width: 100%;
    }
    .card-bodies {
        flex: 1 1 auto;
        min-height: 1px;
        padding-left: 17%;
      
        padding-right: 10%;
    }

}

@media (max-width:320px){
    .card-titlle{
        font-size: 13px;
        /* text-align: center; */
    }
    .allproductpage {
        background-color: #FFFAFA;
        width: 100%;
    }
    .card-texst-price{
        font-size: 11px;
    }
    .card-bodies {
        flex: 1 1 auto;
        min-height: 1px;
        padding-left: 17%;
      
        padding-right: 10%;
    }

}

