@import url('https://fonts.googleapis.com/css2?family= Roboto,Arial,sans-serif:ital,wght@0,300;1,400&display=swap');.term{
    text-align: center;
    font-family:  Roboto,Arial,sans-serif;
    font-weight: bolder;

}
.term{
    color: black;
}
.terms{
    padding-left: 7%;
    padding-right: 7%;
    font-family: Roboto,Arial,sans-serif;
}
.termsheading{
    font-weight: bold;
    font-size:18px;
    /* font-size: x-large; */
    font-family:  Roboto,Arial,sans-serif;
}
.descpara{
   
    font-size:18px;
    /* font-size: x-large; */
    font-family:  Roboto,Arial,sans-serif;
}
@media (max-width:500px){

    .termsheading{
        font-weight: bold;
        font-size:15px;
        /* font-size: x-large; */
        font-family:  Roboto,Arial,sans-serif;
    }
    .term{
        font-weight: bold;
        font-size:18px;
        padding-bottom: 2%;
        /* font-size: x-large; */
        font-family:  Roboto,Arial,sans-serif;
    }
    .descpara{
       
        font-size: 14px;
        line-height: 22px;
        font-family: Roboto,Arial,sans-serif;    
    }
}