
@media (max-width: 991px){

    .blog_page_banner{
        padding-top: 9%;    
    }
    }
.blog_sec_para{
    font-size: 1px;
    font-family: Roboto,Arial,sans-serif;
}
.blog_sections .blog_sec_para{
  padding-top: 10px;
    font-family: Roboto,Arial,sans-serif;
}