*{
    font: normal 300 15px / 27px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #6d6e70;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.2;
    color: black;
}   