html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}


.signin{
    max-height: 2rem;
    max-width: 2rem;
}

.cart{
    max-height: 2rem;
    max-width: 2rem;
}

.strip{
    height: auto;
    width: auto;
    cursor: pointer;
}

.offertext{
    /* height: 2rem; */
    width: 100%;
}



.size{
    width: 35rem;
}

ul li{
    list-style: none;
}

.searchbar{
    width:35rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    color:rgb(19, 12, 12);
    border-radius: 5px;
}


.searchresult{
    padding: 3px;
    font-size:12px;
    
}
.searchresult:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

@media(max-width:999px){
    .navbars .nav_bar{
        display: none;
    }
}
.navbars nav{
    display: block;
}