.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }

  .error{
    width: 50%S;
    height: auto;
  }

  .signinrender{
    width: 50%;
    position: relative;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    margin-top: 3px;
    background-color: white;
  }

  .inputforsignin{
       height: 3rem;
       border:none;
       background-color: rgb(199, 255, 199);
       border-radius: 10px;
  }

  .signupshift{
      text-decoration: none;
      color: black;
  }

  .signupshift:hover{
    color: red;
  }