.test_details{
    font-family: Roboto,Arial,sans-serif;
}
.name_product{
    font-weight: 900px;
    font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
}
.inclusives_des{
    padding-left:15%
}
.apply_coupon_des{
    font-family: Roboto,Arial,sans-serif;  
    color:red;
}
.out_stocks_des{
    color: #ff0000;
}
.stocks_des{
    color:rgb(41, 173, 41)
}
.boxes{
    padding-top: 10%;
    width: 100%;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
}
.detail_image{
    width: 100%;
    position: relative;
    /* border: 2px solid yellow; */
}


.products_img_list{
    list-style: none;
    width: 13%;
    height: 70px;
    /* height: 70px; */
    /* for thumb img */
    border: 2.5px solid brown;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_img_list img{
    cursor: pointer;
    width:80%;
    height: 100%;
}
.products_img_list:hover ul{
    display: flex;
    
    }
    #active{
        display: flex;
    }
    
    
.products_img_ullist{
    cursor: pointer;
    width: 85%;
    height: 100%;
    /* border: 3px solid purple; */
    position: absolute;
    top:0;
    left:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.products_img_ullist .img{
    width: 80%;
    height: 100%;
}

.buy_now{
    background-color: #ff5930;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    /* padding-left: 50%;
    padding-right: 50%; */
    color:white;
}

.buybutton{
    color: rgb(255, 254, 254);
    font-weight: 700;
    border: none;
    background-color: #ff5930;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    padding: 23px;
    width: 250px;
    font-size: large;
}

.buybutton:hover{
    color: black;
    font-weight: 700;
}


.whole_section{
    position: -webkit-sticky;
  position: sticky;
  top:0;

}



/* .whole_section{
    position: -webkit-fixed;
    position: fixed;
    top:0;
} */

.add_Cart{
    background-color: #FF9F00;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    

    /* padding-left: 50%;
    padding-right: 50%;  */
    color:white;
}
.cartbutton{
    color: rgb(252, 252, 252);
    font-weight: 700;
    border: none;
    background-color: #FF9F00;
    padding: 23px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    
}
.cartbutton:hover{
    color:black;
    font-weight: 700;
}
.total_des{
    
        position: -webkit-sticky;
      position: sticky;
      top:0;
    
    
}