/* body {
  background: #734f79;
  font-family: 'Flamenco', serif;
} */

h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

.readme {
  color: #fff;
  margin: 0 auto;
  width: 80%;
/*   
  a {
    color: red;
  } */
}

.accordion {
  position: relative;
  /* margin: 60px auto; */
  width: 100%;
  display: none;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: black;
  border-bottom: 1px solid #fff;
  /* line-height: 40px; */
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after,
 [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: white;
  height: 0;
  margin: -1px auto 0;
  /* padding: 0 2.5%; */
  position: relative;
  overflow: hidden;
  width: 100%;
color:black;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  /* padding-bottom: 25px; */
  /* padding-top: 10px; */
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.accordion-content{
  background: white;
  color: black;
}
@media (max-width: 991px){
  .accordion {
    
    display: block;
  }
  }
  .footer_col li{
    color: black;
    font-weight: 200px;
    
    padding: 0%;
    /* list-style: none; */
    font-size: 16px;
  }


  /* accordian 2 */
  /* body {
  background: #734f79;
  font-family: 'Flamenco', serif;
} */

h1 {
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

.readme {
  color: #fff;
  margin: 0 auto;
  width: 80%;
/*   
  a {
    color: red;
  } */
}

.accordion2 {
  position: relative;
  /* margin: 60px auto; */
  width: 100%;
  display: none;
}

[id*="open-accordion2"], [id*="close-accordion2"] {
  background: black;
  border-bottom: 1px solid #fff;
  /* line-height: 40px; */
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

[id*="close-accordion2"] {
  display: none;
}

.accordion2 a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion2"]:after,
 [id*="close-accordion2"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content2 {
  background: white;
  height: 0;
  margin: -1px auto 0;
  /* padding: 0 2.5%; */
  position: relative;
  overflow: hidden;
  width: 100%;
color:black;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion2 span:target ~ .accordion-content2 {
  display: block;
  height: auto;
  /* padding-bottom: 25px; */
  /* padding-top: 10px; */
}

.accordion2 span:target ~ [id*="close-accordion2"] {
  display: block;
}

.accordion2 span:target ~ [id*="open-accordion2"] {
  display: none;
}

.accordion2 span:target ~ [id*="close-2"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}



/* accordian3  */

.accordion3 span:target ~ .accordion-conten3 {
  display: block;
  height: auto;
  /* padding-bottom: 25px; */
  /* padding-top: 10px; */
}

.accordion3 span:target ~ [id*="close-accordione"] {
  display: block;
}

.accordion3 span:target ~ [id*="open-accordion3"] {
  display: none;
}

.accordion3 span:target ~ [id*="close-3"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.accordion-content2{
  background: white;
  color: black;
}

@media (max-width: 800px){
  .accordion2 {
    
    display: block;
  }
  .segment-three h4{
    font-family: Courgette;
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
    }
  .segment-three a{
    background-color: black;
    width:55px;
    height:45px;
    display: inline-block;
    border-radius: 50%;

}
  }
  .footer_col li{
    color: black;
    font-weight: 200px;
    
    padding: 0%;
    /* list-style: none; */
    font-size: 16px;
  }
