
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


.reviews{
    padding-top: 5%;
}
.review_container{
    background-color: rgb(250, 246, 246);
}
.review_form{
    background-color: white;
    box-shadow: 2px 2px 5px rgb(146, 144, 144);
}
.gender_dropdown_btn{
   
    background-color: #e9e8e8;
    border-radius: 0;
    box-shadow: 2px 2px 5px black;
}
.Write-your_review{
    font-size: 30px;
    font-weight: bold;
}
.age_dropdown_btn{
    border-radius: 0;
    background-color: #e9e8e8;
    box-shadow: 2px 2px 5px black;
}
.button_flavor{
    margin-top: 3% ;
    margin-bottom: 3% ;
    text-align: center;
    color: rgb(99, 97, 97);
    border: 2.5px solid rgb(160, 16, 16);
    padding-top: 1% ;
    margin-left: 2%;
    margin-right: 2%;
    font-size: small;
    padding-bottom: 1% ;
}
 .btn-outline-danger{
    font-family: small;
    color: black;
}
.btn-outline-danger:hover {
        background-color: #ff0000;
        font-family: small;
}
.out_stocks{
    color: #ff0000;
}
.stocks{
    color:rgb(41, 173, 41)
}
.button_size{
    margin-top: 3% ;
    margin-bottom: 3% ;
    text-align: center;
    font-size: small;
    color: black;
    border: 2.5px solid rgb(167, 48, 48);
    padding-top: 1% ;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1% ;
 /* background-color: #008190; */
 /* background-color: #365154; */
}
.coupon_test{
    color:red
}
.inclusives{
    padding-left:17%
}
.apply_coupon{
    font-family: Roboto,Arial,sans-serif;  
    color:red;
}
.buttons{
    margin-top: 3% ;
    margin-bottom: 3% ;
    text-align: center;
    /* color: white; */
    /* padding-top: 2% ;
    padding-bottom: 2% ; */
 /* background-color: #008190; */
}
/* .coupon_details{
    padding-top: 2%;
    margin-bottom: 12%;
} */

.detail_page{
    max-width: 1350px;
    /* padding-left: 3%; */
    
}

.productes_name{
    font-weight: 500px;
    font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
}
.product_invantory{
    font-family: Roboto,Arial,sans-serif;   
}
.pricing{
    font-size: larger;
}
.img_sec{
    padding-left: 5%; 
}
/* .products_name{
    font-size: large;
    font-weight: 700px;
} */
.buy_now{
    background-color: #ff5930;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    /* padding-left: 50%;
    padding-right: 50%; */
    color:white;
}

.buybutton{
    color: rgb(255, 254, 254);
    font-weight: 700;
    border: none;
    background-color: #ff5930;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    padding: 23px;
    width: 250px;
    font-size: large;
}

.buybutton:hover{
    color: black;
    font-weight: 700;
}


.whole_section{
    position: -webkit-sticky;
  position: sticky;
  top:0;

}



/* .whole_section{
    position: -webkit-fixed;
    position: fixed;
    top:0;
} */

.add_Cart{
    background-color: #FF9F00;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    

    /* padding-left: 50%;
    padding-right: 50%;  */
    color:white;
}
.cartbutton{
    color: rgb(252, 252, 252);
    font-weight: 700;
    border: none;
    background-color: #FF9F00;
    padding: 23px;
    text-align: center;
    font-weight: 700;
    width: 250px;
    font-size: large;
    
}
.cartbutton:hover{
    color:black;
    font-weight: 700;
}
/* image section */
.box{
    padding-top: 10%;
    width: 100%;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
}
.image{
    width: 100%;
    position: relative;
    /* border: 2px solid yellow; */
}

.products_img_list{
    list-style: none;
    width: 13%;
    height: 70px;
    /* height: 70px; */
    /* for thumb img */
    border: 2.5px solid brown;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_img_list img{
    cursor: pointer;
    width:80%;
    height: 100%;
}
.products_img_list:hover ul{
display: flex;

}

#active{
    display: flex;
}

.products_img_ullist{
    cursor: pointer;
    width: 85%;
    height: 100%;
    /* border: 3px solid purple; */
    position: absolute;
    top:0;
    left:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.products_img_ullist .img{
    width: 80%;
    height: 100%;
}

   .testcarousel{
            display: none;
        }
@media screen and (max-width: 950px) {

    .box{
        padding-top: 30%;
        width: 90%;
        margin: auto;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border:1px solid green; */
    }
    .image{
        width: 100%;
        position: relative;
        /* border: 2px solid yellow; */
    }
    .products_img_list{
        list-style: none;
        width: 10%;
        height: 55px;
        /* height: 70px; */
        /* for thumb img */
        border: 2.5px solid brown;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products_img_list img{
        cursor: pointer;
        width:80%;
        height: 100%;
    }
    
    }
    @media screen and (max-width: 768px) {
    .box{
       padding: 0px;
       margin: 0;
       width: 100%;
    }
    .detail_page{
        width: 200%;
    }
    .buybutton{
        /* margin-top: 60%; */
        align-items: center;
        display: none;
        margin-right: -10%;
    }
    .addcart{
        /* margin-top: 280%; */
    }
        }
        @media (max-width: 700px){
            .detail_image{
                display: none;
            }
            .boxes{
                display: none;
            }
          
        }


        .testcarousel{
            display: none;
        }
@media (min-width:700px){
    .testcarousel{
       display: none;
    }
    .butto .buttons{
        display:block;
    }
    .buttos .buttons{
        display: none;
    }
         }
         @media (max-width:700px){
            .testcarousel{
                display: block;
            }
            .butto .buttons{
                display:none;
            }
             .buttos .buttons{
                display:block;
            }
         }
        
        