.career_details {
    font-family: Roboto,Arial,sans-serif;
    line-height: 27px;
    /* font-size: 18px; */
}
.bs-example{
    padding-left: 4%;
    padding-right: 4%;
    cursor: pointer;
    overflow-x: auto;
    font-family: Roboto,Arial,sans-serif;
    line-height: 25px;
}
.careers{
    width: 100%;
    height: 300px;
}
.one{
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;

}
.tables {
    margin-top:10%;
}
.head{
    font-size: 15px;
}
.para_careers   {
    padding-left:5%;
    padding-right:5%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
}
.what_we_offer {
    padding-left:5%;
    padding-right:5%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
}
.our_offers li{
  
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
}
.what_we_offer p{
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
}
/* 
.our_offers  li{
    padding-left:5%;
    padding-right:5%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
} */
.opportunitites{
    padding-left:5%;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
}