.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
.signup {
  border: none;
  height: 3rem;
  background-color: rgb(174, 212, 255);
  border-radius: 10px;
}
.signupbg{
  background-color: white;
}
