.became_a_dealer{
    padding-left: 5%;
    padding-right: 5%;
    
}
/* .enroll_dealership{
    border: 2px solid black;
    width: 70%;
    background-color: white;
} */

.algn{
    text-align: start;
}
.dealership{
    padding-left: 15%;
    padding-right: 15%;

}
.become_dealer{
    color: black;
}
