.disclaimer{
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;  
}
/* .copyright_details2 {
    background-color: black;
    color: white;
} */
.horizontal-rule {
    border-top: 0.3px solid rgb(172, 169, 169);
  }
.copyright_info{
    font-size: 13px;
    
    /* padding-top: 0.7%; */
    padding-bottom: 0;
    font-family: Roboto,Arial,sans-serif;  
}

.copyright_section{
    /* padding-top: 10%; */
    padding-bottom: 0.2%;
    padding-left: 2%;
    padding-right: 1%;
    color: black;
    /* background-color: #333333; */
}


@media (max-width: "700px"){
    .copyright_section{
        text-align: center;
      
    }
    .copyrights{
        /* margin-top: 15%; */
        text-align:center;
    }
    .copyright_info{
        font-size: 8px;
        
        /* padding-top: 0.7%; */
        padding-bottom: 0;
        font-family: Roboto,Arial,sans-serif;  
    }
    .disclaimer{
        font-size: 8px;
        font-family: Roboto,Arial,sans-serif;  
    }
} 
