@media (max-width: 998px) {
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        /* padding-left: 3%;
        padding-right: 3%; */
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        /* padding-left: 5%;
        padding-right: 5%; */
        width: 100%;
        height: 100%;
      }
} 
  