/* .map{
    width:1400;
     height:4150;
} */
.group{
    padding-left: 9%;
    padding-right: 2%;
}
.get_in_touch{
    font-family: Tajawal;
    font-size: 19px;
    font-weight: 400;
}
.for_query{
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 400;
}
.address{
    font-family: Neuton;
    font-size: 20px;
}
.form-group{
    font-family: Tajawal;
    font-size: 19px;
    font-weight: 400;
}

@media (max-width: 900px){
    .group{
        padding: 0%;
    }
   
}