.ofer{
    padding-left: 12%;
    padding-right:12%;
}
.ofer{
    font-size: 12.5px;
}
.review_s{
    font-weight: 100px;
    font-size: 11px;
  
}
/* .pro_revivews{
    display: block;
} */
@media (max-width:800px){
    .ofer{
        font-size: 12px;
        text-align: center;
    }
    .rates{
        font-size: 10px  ;
    }
    .review_s{
        font-size: 10px !important;
    }
    .pro_revivews{
        display: none;
    }
    .acces_container{
        background: rgb(231, 229, 229) ;
    }
  .accessories-image{
    background: rgb(231, 229, 229) ;
  }
  .ratings{
      display: none;
  }
 
  .rates{
      font-size: 8px;
  }
  .ratees{
    font-size: 8px;
}
.accessories-grid{
    padding-left: 2%;
    padding-right: 2%;
}
.acces_container{
    background:rgb(242, 242, 242);
}
.accessories-image{
    background:rgb(242, 242, 242);
}
}
.product_outline{
   background: rgb(242, 242, 242)  !important;
}

.ratees{
    color: red;
}

@media (max-width:400px){
    .protein_naming{
        font-size: 68.5%  !important;
        padding-left: 2px;
        padding-right: 2px;
    }
}