.check{
    text-align: center;
    font-size:30px;
    /* font-weight: bold; */
    font-family: Roboto,Arial,sans-serif;
   padding-top: 2%;
   padding-bottom: 2%;
   color: rgb(39, 38, 38);
    
}
.careers{
    width: 100%;
    height: 300px;
}
.steps{
    font-size:18px;
    font-family: Roboto,Arial,sans-serif;
    color: #333;
}
.auth_steps{
    padding-left: 5%;
    padding-right: 5%;
    
}
.step_one{
    font-family: Roboto,Arial,sans-serif;
    color: #333;
    font-size:24px;
    /* font-weight: 900; */
}