.product_contents {
  font-size: 14px;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

.product_tab input {
  position: absolute;
  opacity: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row .col:last-child {
  margin-left: 10em;
  margin-right: 6em;
}

/* Accordion styles */
.product_tabs {
  border-radius: 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.product_tab-label {
  text-transform: uppercase;
  background-color: #f0eaea;
  padding-top: 2%;
}

.product_tab {
  width: 100%;
  color: black;
  overflow: hidden;
}

.product_tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  font-weight: 450;
  font-size: 18px;
  cursor: pointer;
  /* Icon */
}

.product_tab-label:hover {
  background: #c4c4c4;
}

.product_tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.product_tab-content {
  max-height: 0;
  padding: 0 1em;
  color: black;
  background: white;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.product_tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.75em;
  background: #dddddd;
  cursor: pointer;
}

.product_tab-close:hover {
  background: #c4c4c4;
}

input:checked + .product_tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .product_tab-content {
  max-height: 100vh;
  padding: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .row .col:last-child {
    margin-left: 4em;
    margin-right: 3em;
  }
}
