.OuterContent{
    background-color: white;
    padding: 30px;
}

.marktext{
    font-size: 14px;
}
.contents_para{
    font-size: 14px;
}

.innercontent{
    box-shadow: 2px 5px 20px 4px rgb(46, 40, 40);
    background-color:white;
}
.home_article{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    justify-content: space-between;
  
    line-height: 25px;
}
.contents_para{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    justify-content: space-between;
    line-height: 22px;
}

.marktext{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 600;
    font-family: Roboto,Arial,sans-serif;
    background-color: none;
    letter-spacing: 1px;
}
@media (max-width:"900px"){
    .content_container{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 15%;
    }
    .OuterContent{
        background-color: white;
        padding: 30px;
    }
    
    .marktext{
        font-size: 12px;
    }
    .contents_para{
        font-size: 12px;
    }
    
    .innercontent{
        box-shadow: 2px 5px 20px 4px rgb(46, 40, 40);
        background-color:white;
    }
    .home_article{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        font-family: Roboto,Arial,sans-serif;
        justify-content: space-between;
      
        line-height: 25px;
    }
    .contents_para{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        font-family: Roboto,Arial,sans-serif;
        justify-content: space-between;
        line-height: 22px;
    }
    
    .marktext{
        color: red;
        font-weight: bold;
        font-style: italic;
        font-size: 600;
        font-family: Roboto,Arial,sans-serif;
        background-color: none;
        letter-spacing: 1px;
    }
}
.content_container{
    /* padding-top:5%; */
    padding-left: 5%;
    padding-right: 5%;
}