@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.why_choose_us{
    text-align: center;
    text-transform:uppercase ;
    color:#000000;
}
.why_choose{
    text-align: center;
    text-transform:uppercase ;
    color: #333333;
}
.why_chose_gxn{
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    word-spacing: 1px;
    /* text-transform:capitalize ; */
    color: #333333;
}
.image_text_para{
    font-size: 8px;
    font-family: Roboto,Arial,sans-serif;
}
.image_para{
   
    /* font-family: "Montserrat";  */
    /* font: normal bolder 15px / 27px "Montserrat", Helvetica, Arial, Verdana, sans-serif; */
    word-spacing: normal;
    color: #616161;     
    font-family: Roboto,Arial,sans-serif;
}
.image_para{
    font-size: 14px;
    font-weight: 750;
    padding-top: 22px;
    font-family: Roboto,Arial,sans-serif;
} 

 /* @media (max-width: 700px) {
    .mobileview{
     display:block;
    } 
}
 @media (max-width: 700px) {
    .Whychoseus_container{
     display:none;
    } 
} */
.why_choose_us{
    padding-top: 2%;
}
@media (max-width: 768px) {
    .card-title{
      font-size: 10px;
      font-family: Roboto,Arial,sans-serif;
    }
    .homeproductimg{
        width: 35px;
        height: 30px;
        font-family: Roboto,Arial,sans-serif;
    }
    .why_choose_us{
        padding-top: 2%;
        font-family: Roboto,Arial,sans-serif;
    }
    .image_text_para{
        font-size: 6px;
        font-family: Roboto,Arial,sans-serif;
    }
}
